version: "3.3"

services:
  backend:
    build: ./server
    image: sharp_backend:latest
    ports:
      - 8087:8080
    restart: unless-stopped
    volumes:
      - upload:/upload
    environment:
      DATABASE_CONNECTION: mongodb://db/grap

  db:
    image: mongo:4.0-xenial
    ports:
      - 2717:27017
    restart: unless-stopped
    volumes:
      - phone:/data/db

  web:
    build: ./admin
    image: sharp_web:latest
    ports:
      - 3055:80
    restart: unless-stopped
    volumes:
      - "./admin:/app"
      - "/app/node_modules"
    stdin_open: true
    environment:
      - CHOKIDAR_USEPOLLING=true

  # Uncomment this block if you want to include the graborders service
  # web1:
  #   build: ./graborders
  #   image: sharp_web1:latest
  #   ports:
  #     - 3015:80
  #   restart: unless-stopped
  #   volumes:
  #     - "./graborders:/app"
  #     - "/app/node_modules"
  #   stdin_open: true
  #   environment:
  #     - CHOKIDAR_USEPOLLING=true

volumes:
  phone:
  upload:
