@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Inter;
}

:root {
  --icon-width: 79px;
  --icon-height: 79px;
  --max-lines: 9;
}

img {
  top: 0px;
  left: 0px;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.start__ {
  font-size: 54px !important;
}

body {
  min-height: 100dvh;
  height: 100%;
  /* Make the body cover the full width */
  background: radial-gradient(circle at center top, #0a1c3a, #051122 900px, #051122);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: auto;
  /* Remove default margins */
}


p {
  color: rgb(161, 167, 187);
}
